.top-bar .container {
    height: 90px;
    .row {
        height: 100%;
        .col-sm {
            margin: auto;
            .d-flex {
                justify-content: center;
                img {
                    height: 40px;
                    margin: auto 10px auto 10px;
                }
                p {
                    text-align: center;
                    margin: 0;
                    font-size: 14px;
                }
                .text-bold {
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }
}

.top-nav {
    padding: 1rem 0;
    li {
        margin-right: 1rem;
        a {
            color: rgb(34, 32, 32);
            font-weight: bold;
            text-decoration: none;
        }
    }
    .top-nav_link,
    .top-nav_country-list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 0;
        margin: 0;

        list-style-type: none;
    }
}
